.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /* background-color: #a148b6; */
}

.groundShadow {
  position: absolute;
  width: 100px;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 90px;
  filter: blur(10px);
  transition: 0.5s;
}

.gift {
  position: relative;
  width: 150px;
  height: 100px;
  background: var(--giftColor);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.gift::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 100px;
  background: crimson;
  left: 62px;
}

.gift::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 100px;
  box-shadow: inset 0 8px rgba(0, 0, 0, 0.3);
}

.toggle {
  display: none;
}

.click {
  position: absolute;
  width: 170px;
  background: var(--giftColor);
  height: 40px;
  top: -38px;
  left: -10px;
  transform-origin: bottom left;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 10px;
}

.click::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 40px;
  background: crimson;
  left: 72px;
}

.tape {
  position: absolute;
  width: 2.5em;
  height: 3em;
  background: crimson;
  top: -65px;
  left: 25px;
  border-radius: 1.5em 0 3em 1em / 1.5em 0 3em 3.5em;
  transform: rotate(60deg);
  z-index: -1;
  transition: 0.5s;
}

.tape::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 3em;
  background: crimson;
  left: 30px;
  border-radius: 0 1.5em 1em 3em / 0 1.5em 3.5em 3em;
  top: -51px;
  transform: rotate(-120deg);
}

/* .bowShadow {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgb(169, 17, 47);
  top: -55px;
  left: 59px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
} */

/* .present {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -40px;
  left: 42px;
  z-index: -1;
  font-size: 2rem;
  color: #a148b6;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  -webkit-text-stroke: 0.5px black;
} */

.present {
  position: absolute;

  /* vaste X-positie: midden van 150px brede box = 75px */
  left: 30px;
  top: -50px;

  /* alleen Y animatie */
  transform: translateY(8px);
  opacity: 0;

  z-index: 3;
  pointer-events: none;

  /* zorgt dat tekstbreedte geen layout-trucjes doet */
  width: max-content;
  white-space: nowrap;

  font-size: 2.2rem;
  font-weight: 700;
  color: #303030;
  /* text-shadow: 0px 4px 4px rgba(0,0,0,0.25); */
  /* -webkit-text-stroke: 0.5px black; */

  transition: opacity 0.35s ease, transform 0.35s ease;
}

.toggle:checked~.present {
  opacity: 1;
  transform: translateY(0);
}

.toggle:checked+.click {
  transform: rotate(-110deg) scale(0.85);
}

.toggle:checked~.tape {
  transform: rotate(-50deg) scale(0.85);
  left: -80px;
  top: -53px;
}

.toggle:checked~.bowShadow {
  transform: rotate(-110deg) scale(0.85);
  left: -110px;
  top: -69px;
}

/* .toggle:checked ~ .present {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
} */

.hitbox {
  position: absolute;
  inset: -50px;
  /* ook boven de deksel */
  cursor: pointer;
  z-index: 10;
}

.click,
.tape,
.present {
  pointer-events: none;
}